@import url("./.cache/wal/colors-waybar.css"); 

/* === Global === */
* {
    all: unset;
    font-family: 'JetBrains Mono', monospace;
    font-size: 18px;
    text-shadow: none;
}

/* === Main Window === */
window {
    padding: 20px;
    border-radius: 12px;

    background:
    radial-gradient(circle at top left,     alpha(@color1,0.35), transparent 70%),
    radial-gradient(circle at top right,    alpha(@color1,0.35), transparent 70%),
    radial-gradient(circle at bottom left,  alpha(@color1,0.35), transparent 70%),
    radial-gradient(circle at bottom right, alpha(@color1,0.35), transparent 70%),
    alpha(@background,0.85);
    background-color: rgba(69, 50, 59, 0.7);
}

/* === Layout === */
#outer-box {
    border: none;
}
#inner-box {
    margin: 2px;
    padding: 5px;
    border: none;
}
#scroll {
    margin: 0px;
    padding: 20px;
    border: none;
}

/* === Input field === */
#input {
    margin: 20px;
    padding: 15px;
    border-radius: 10px;
    color: @foreground;
    background-color: alpha(@background, 0.25);
    box-shadow: 1px 1px 5px rgba(0,0,0,.5);
}
#input image {
    color: @color1;
    padding-right: 10px;
    color: rgb(232, 170, 199);
}

/* === Item list === */
#entry {
    border: none;
    margin: 5px;
    padding: 10px;
    border-radius: 12px;
    transition: background-color 0.2s ease, color 0.2s ease;
}

/* Normal text */
#entry #text {
    color: @foreground;
}

/* Highlight item */
#entry:selected {
    background-color: rgba(232, 170, 199, .4); /* warna highlight */
    border: 2px solid rgb(232, 170, 199);
    box-shadow: 1px 1px 5px rgb(232, 170, 199);
}
#entry:selected #text {
    color: @color1;
    font-weight: bold;
    color: rgb(232, 170, 199);
}

/* Arrow icon */
#entry arrow {
    color: @color3;
}
